**/.idea/*
*.egg-info
backend/api/local/local_api.py
frontend/public/static/bundle/*
backend/client_secret.json
frontend/node_modules
backend/.env
*.pyc
backend/lib/.pytest_cache
**/__pycache__
.idea
.DS_Store