**/.idea/*
*.egg-info
backend/api/local/local_api.py
backend/client_secret.json
frontend/node_modules
backend/.env
*.pyc
backend/lib/.pytest_cache
**/__pycache__
.idea
.DS_Store
frontend/README.md
backend/layer
backend/layer.zip
frontend/build*
/backend/.aws-sam/
build
/backend/samconfig.toml
/backend/docker/vol/
/backend/api/src/calensync/
/backend/awslambda/**/calensync/
/sql/*
.DS_Store
frontend/src/_blog/
/appsmith
/frontend/dist
/backend/scripts/templates/*
/backend/client.crt
/backend/client.key
/backend/root.crt
/local/*
/todo.md
/backend/jupyter/*
