peewee~=3.15.0
psycopg2-binary~=2.9.1
pydantic~=1.9.1
fastapi==0.109.1
mangum==0.17.0
google-api-python-client==2.109.0
google-auth==2.24.0
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.1
pydantic==1.9.2
urllib3<2
aws-lambda-powertools==2.28.1